.breadcrum {
  margin: var(--meli-spacing-s) 0;
  color: var(--meli-color-palette-gray);
  font-size: var(--meli-font-size-xxs);
}

.products {
  background-color: #fff;

  .products__item {
    display: flex;
    margin: 0 var(--meli-spacing-s);
    padding: var(--meli-spacing-s) 0;
    border-bottom: thin solid var(--meli-color-palette-lightgay);
  }

  .products__image {
    margin-right: var(--meli-spacing-s);
    border-radius: 4px;
  }

  .products__info {
    width: 60%;
    display: flex;
    flex-flow: column;
    margin-top: var(--meli-spacing-s);
  }

  .products__info>p {
    font-size: var(--meli-font-size-sm);
    margin-bottom: var(--meli-spacing-m);
  }

  .products__info>h2 {
    font-size: var(--meli-font-size-s);
  }

  .products__item>span {
    margin-top: calc(var(--meli-spacing-s) + var(--meli-spacing-m));
    font-weight: bold;
    font-size: var(--meli-font-size-xxxs);
    color: var(--meli-color-palette-gray);
  }
}