.product {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  padding: var(--meli-spacing-m);
}

.product__head {
  display: flex;
  justify-content: space-between;

  .product__image {
    width: 680px;
    height: 680px;
    border-radius: 4px;
    background: linear-gradient(90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
  }

  .product__info {
    margin-left: 48px;
    max-width: 330px;
    width: 330px;
  }

  .product__stock {
    width: 80px;
    height: 14px;
    border-radius: 12px;
    background: linear-gradient(90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
  }

  .product__line {
    width: 317px;
    height: 20px;
    border-radius: 12px;
    background: linear-gradient(90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
  }

  .product__line:nth-child(2) {
    margin-top: var(--meli-spacing-s);
  }

  .product__line:nth-child(3) {
    margin: 10px 0;
  }

  .product__line:nth-child(4) {
    margin-bottom: var(--meli-spacing-m);
  }

  .product__price {
    width: 100%;
    height: 54px;
    border-radius: 4px;
    margin-bottom: var(--meli-spacing-m);
    background: linear-gradient(90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
  }

  .product__button {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    margin-bottom: var(--meli-spacing-m);
    background: linear-gradient(90deg,
        var(--loader-background-color) 25%,
        var(--loader-highlight-color) 50%,
        var(--loader-background-color) 75%);
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
  }
}

.product__body>h3 {
  font-size: var(--meli-font-size-m);
  font-weight: bold;
  margin: var(--meli-spacing-m) 0;
}

.product__body>p {
  width: calc(100% - 330px);
  font-size: var(--meli-font-size-xs);
  color: var(--meli-color-palette-gray);
  text-wrap: pretty;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}