.product {
  background-color: #fff;
  display: flex;
  flex-flow: column;
  padding: var(--meli-spacing-m);
  margin-bottom: calc(var(--meli-spacing-m) * 2);
}

.product__head {
  display: flex;
  justify-content: space-between;

  .product__info {
    margin-left: 48px;
    max-width: 330px;
    width: 330px;
  }

  .product__sold {
    font-size: var(--meli-font-size-xxxs);
    font-weight: bold;
    color: var(--meli-color-palette-darkgray);
  }

  .product__name {
    text-wrap: balance;
    font-size: var(--meli-font-size-sm);
    font-weight: bold;
    margin: var(--meli-spacing-s) 0 var(--meli-spacing-m);
  }

  .product__price {
    font-size: var(--meli-font-size-l);
    margin-bottom: var(--meli-spacing-m);
  }

  .product__button {
    font-size: var(--meli-font-size-xs);
    color: #fff;
    background-color: var(--meli-color-palette-blue);
    border-radius: 6px;
    padding: 15px 0;
    width: 100%;
    text-align: center;
  }
}

.product__title {
  font-size: var(--meli-font-size-m);
  font-weight: bold;
  margin: var(--meli-spacing-m) 0;
}

.product__description {
  width: calc(100% - 330px);
  font-size: var(--meli-font-size-xs);
  color: var(--meli-color-palette-gray);
  text-wrap: pretty;
  word-spacing: 1px;
  line-height: 1.25;
}

@media (max-width: 1270px) {
  .product {
    .product__head {
      .product__info>h1 {
        font-size: var(--meli-font-size-s);
      }

      .product__info>h2 {
        font-size: var(--meli-font-size-m);
      }

      .product__info>button {
        font-size: var(--meli-font-size-xs);
      }
    }
  }
}

@media (max-width: 1024px) {
  .product {
    .product__head {
      display: flex;
      flex-flow: column;
      align-items: center;

      .product__info {
        margin-left: 0;
        max-width: unset;
        width: 100%;
      }
    }
  }

  .product__body>p {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .product {
    .product__image {
      width: 100%;
      height: 100%;
    }

    .product__body {
      .product__title {
        font-size: var(--meli-font-size-s);
      }

      .product__description {
        font-size: var(--meli-font-size-xxs);
      }
    }
  }
}