.breadcrum {
  margin: var(--meli-spacing-s) 0;
  color: var(--meli-color-palette-gray);
  font-size: var(--meli-font-size-xxs);
  width: 50%;
  height: 16px;
  background: linear-gradient(90deg,
      var(--loader-background-color) 25%,
      var(--loader-highlight-color) 50%,
      var(--loader-background-color) 75%);
  background-size: 200% 100%;
  animation: loading 2s infinite ease-in-out;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}