@import url('./reset.css');

:root {
  --loader-background-color: #EEEEEE;
  --loader-highlight-color: #DEDEDE;

  --meli-color-palette-yellow: #FFE600;
  --meli-color-palette-dark: #333333;
  --meli-color-palette-darkgray: #666666;
  --meli-color-palette-gray: #999999;
  --meli-color-palette-lightgay: #EEEEEE;
  --meli-color-palette-blue: #3483FA;

  --meli-font-size-xxxs: 12px;
  --meli-font-size-xxs: 14px;
  --meli-font-size-xs: 16px;
  --meli-font-size-s: 18px;
  --meli-font-size-sm: 24px;
  --meli-font-size-m: 28px;
  --meli-font-size-l: 46px;

  --meli-spacing-s: 16px;
  --meli-spacing-m: 32px;

  --meli-desktop-screen: 680px;
  background-color: var(--meli-color-palette-lightgay);
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--meli-color-palette-dark);
}

/* :focus {
  outline: none;
  border: 1px solid #03d1d1;
} */

main {
  width: 80%;
  margin: 0 auto;
  min-height: 100dvh;
}

input {
  color: rgba(0, 0, 0, .8980392157);
  font-size: var(--meli-font-size-xs);
}

input::placeholder {
  color: var(--meli-color-palette-gray);
  font-size: var(--meli-font-size-s);
}