.error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 90dvh;
  text-align: center;
  gap: var(--meli-spacing-s);

  .error__message {
    font-size: 1.3rem;
    text-align: center;
    color: var(--meli-color-palette-gray);
  }
}