.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90dvh;

  .error__message {
    font-size: 1.3rem;
    text-align: center;
    color: var(--meli-color-palette-gray);
  }
}